<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularCLIBlog</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<header class="header">
  <h1 class="header__title">Блог</h1>
  <div class="line"></div>
</header>



<main class="container">

  <!--Тут ссылка на список записей-->
  <div class="blog__body">
    <h1>Записи</h1>
    <hr>
    <app-list-of-enrties></app-list-of-enrties>
  </div>



<!--Тут ссылка на добавление-->
  <div class="blog__form">
    <h1>Создать запись</h1>
    <hr>
    <app-form-addition></app-form-addition>
  </div>
</main>
</body>
</html>
